body {
    background-color: #e2cfd2;
    font-size: 20px;
    color: white;
}

h5 {
    color: black;
    display: contents;
}

.btn {
    border: 2px solid transparent;
    border-radius: 1rem;
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 1px 15px 1px 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.39)
}

.btnsmall {
    border: none;
    font-size: 0.8rem;
    padding: 0px 10px 0px 10px;
}

.btn-primary {
    background-color: deeppink;
    border-color: deeppink;
}
